.services {
  font-family: Montserrat, sans-serif;
  .types {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: stretch;
    gap: 10px;
    .service-type {
      border: 2px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin: 5px 0;
      padding: 50px 5px;
      h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        margin: 0;
      }
    }
  }

  @media (max-width: 600px) {
    & {
      .types {
        .service-type {
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
