.technologies {
  .container {
    width: 95%;
    margin: 0 auto;

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
    }

    .services {
      display: flex;

      .service {
        h3 {
          font-weight: 700;
          font-size: 40px;
          line-height: 150%;
          text-align: center;
          margin: 0;
        }
        .tick {
          margin-top: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
