.technologies {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    width: 70%;
    margin: 20px auto;
  }

  .services {
    display: flex;
    margin: 20px 0;
    .service {
      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        text-align: center;
        margin: 0;
      }
      .tick {
        margin-top: 10px;
        display: flex;
        align-items: center;
      }
    }

    @media (max-width: 1000px) {
      & {
        justify-content: space-between;
        flex-wrap: wrap;
        .service {
          width: 50%;
        }
      }
    }
    @media (max-width: 500px) {
      & {
        .service {
          width: 100%;
          h3 {
            font-size: 24px;
          }

          .tick {
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .integrations {
    background-color: #181818;
    color: #fff;
    padding: 50px 0;
    margin: 40px 0;
  }

  .sales {
    margin: 40px 0;
    h1 {
      margin: 0 auto;
      letter-spacing: 0.05em;
      font-weight: 800;
      font-size: 64px;
      line-height: 116%;
      text-align: center;
    }
    margin: 0 auto;
  }

  @media (max-width: 769px) {
    & {
      p {
        width: 100%;
        font-size: 18px;
      }

      .sales {
        h1 {
          font-size: 36px;
        }
      }
    }
  }
}
